[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=man:waybar(5)
# only start when Hyprland does
PartOf=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target
Requisite=wayland-session@hyprland.desktop.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
RestartSec=1

[Install]
WantedBy=wayland-session@hyprland.desktop.target
